<?xml version="1.0" encoding="utf-8" ?>

<!--
If deploying to your own server (not Azure), you will need to update these settings.
-->
<appSettings>
  <add key="BankId.Merchant.AcquirerID" value="your-aquirer-id" />
  <add key="BankId.Merchant.MerchantID" value="your-merchant-id" />
  <add key="BankId.Merchant.ReturnUrl" value="https://your-hosted-idin-connector/oauth2/callback" />

  <add key="BankId.Acquirer.DirectoryUrl" value="https://your-bankid-acquirer-directory-url/" />
  <add key="BankId.Acquirer.TransactionUrl" value="https://your-bankid-acquirer-transaction-url/" />
  <add key="BankId.Acquirer.StatusUrl" value="https://your-bankid-acquirer-status-url/" />

  <add key="BankId.Merchant.Certificate{Base64String}" value="base64-merchant-cert" />
  <add key="BankId.Merchant.Certificate{Password}" value="merchant-cert-password" />
  <add key="BankId.RoutingService.Certificate{Base64String}" value="base64-routing-service-cert" />
  <add key="BankId.SAML.Certificate{CertKey}" value="BankId.Merchant.Certificate" />

  <add key="Auth0IdinConnectorClientId" value="1a2b3c4d5e" />
  <add key="Auth0IdinConnectorClientSecret" value="f00bar42!" />
  <add key="Auth0IdinConnectorClientAllowedCallbackUrl" value="https://your-tenant.auth0.com/login/callback" />

  <add key="RedisConnectionString" value="https://your-redis-server:6379" />
</appSettings>
