<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>    
    <add key="BankId.Merchant.AcquirerID" value="your-aquirer-id" />
    <add key="BankId.Merchant.MerchantID" value="your-merchant-id" />
    <add key="BankId.Merchant.ReturnUrl" value="https://your-hosted-idin-connector/oauth2/callback" />
    
    <add key="BankId.Acquirer.DirectoryUrl" value="https://your-bankid-acquirer-directory-url/" />
    <add key="BankId.Acquirer.TransactionUrl" value="https://your-bankid-acquirer-transaction-url/" />
    <add key="BankId.Acquirer.StatusUrl" value="https://your-bankid-acquirer-status-url/" />
  
    <!--
    Certificates
    - use {Base64String} to provide a base-64 encoding string representation of the certificate
    - use {CertKey} to reuse a different certificate by key
    - use {Password} to provide a password for a PFX certificate file
    -->
    <add key="BankId.Merchant.Certificate{Base64String}" value="base64-merchant-cert" />
    <add key="BankId.Merchant.Certificate{Password}" value="merchant-cert-password" />
    <add key="BankId.RoutingService.Certificate{Base64String}" value="base64-routing-service-cert" />
    <add key="BankId.SAML.Certificate{CertKey}" value="BankId.Merchant.Certificate" />
    
    <add key="Auth0IdinConnectorClientId" value="1a2b3c4d5e" />
    <add key="Auth0IdinConnectorClientSecret" value="f00bar42!" />
    <add key="Auth0IdinConnectorClientAllowedCallbackUrl" value="https://your-tenant.auth0.com/login/callback" />

    <add key="RedisConnectionString" value="https://your-redis-server:6379" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <sources>
      <source name="System.Security.Cryptography.Xml.SignedXml" switchName="XmlDsigLogSwitch">
        <listeners>
          <add name="logFile"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="XmlDsigLogSwitch" value="Verbose"/>
    </switches>
    <sharedListeners>
      <add name="logFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="XmlDsigLog.txt"/>
    </sharedListeners>
    <trace autoflush="true">
      <listeners>
        <add name="logFile"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>